.main-top {
    display: flex;
    width: 100%;
    background-image: url("../../assets/images/Rectangle 57.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 90% auto;
  }
  
  .col-start {
    flex: 1; /* Cung cấp khả năng co giãn */
    background: linear-gradient(45deg, #285e74, #99daf5, #4cb1da);
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column; /* Đảm bảo nội dung co giãn theo chiều dọc */
  }
  
  .col-end {
    flex: 1; /* Đảm bảo chiều cao đồng đều với .col-start */
    margin-right: 4px;
    background-color: gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* Đảm bảo nội dung co giãn theo chiều dọc */
    overflow: auto; /* Hiển thị thanh cuộn nếu nội dung vượt quá chiều cao */
  }
  