body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #0e2e6f, #041435);
  min-height: 100vh;
}
.list-dot {
  height: 20px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-top {
  width: 100%;
  background-image: url("../assets/images/Rectangle 57.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 90% auto;
}

.main-top-header {
  width: 71%;
  top: 2px;
  right: 0;
  padding: 5px 20px 5px 0px;
}


.main-top-header .title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
.img-icon-camera {
  width: 35px;
  height: 35px;
}
.time .time-text {
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
}
.time-icon i {
  font-size: 18px;
}


.parallelogram {
  position: absolute;
  bottom: 2px;
  left: -58px;
  display: flex;
  align-items: end;
}
.parallelogram1 {
  width: 10px;
  height: 24px;
  background-color: #1d4c85;
  transform: skew(-27deg);
  margin-right: 11px;
  border-radius: 2px;
}
.parallelogram2 {
  width: 14px;
  height: 34px;
  background-color: #2c6ea2;
  transform: skew(-27deg);
  border-radius: 2px;
}

.screen-stream {
  padding-top: 47px;
  position: relative;
}
.Logo-csgt {
  position: absolute;
  top: -20px;
  left: 0;
}
.img-logo img {
  width: 80px;
  height: 92px;
  object-fit: contain;
}
.Logo-csgt h3 {
  font-size: 21px;
  font-weight: 800;
  text-align: center;
  line-height: 23px;
  color: #f9f9f9;
  padding-bottom: 20px;
}

.col-start {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background-clip: padding-box;
}

.media-placeholder {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-image: url("../assets/images/Mask group.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e2e6e;
}

.video-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}
.video-player {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  background: linear-gradient(45deg, #285e74, #99daf5, #4cb1da);
  background-clip: padding-box;
  padding: 3px;
  position: relative;
}
.waiting-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
}

.play-icon {
  font-size: 48px;
}

.col-end {
  width: 30%;
  height: 78%;
  /* background-color: gray; */
  position: absolute;
  right: 0;
  top: 47px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.violation-block {
  width: 90%;
  height: 100%;
  background-color: #2b498b;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 40px;
}

.violation-list {
  height: 100%;
  padding: 10px;
  overflow-y: scroll;
  position: relative;
}

/* Tùy chỉnh thanh cuộn */
.violation-list::-webkit-scrollbar {
  width: 5px;
}
/* Tùy chỉnh phần track của thanh cuộn */
.violation-list::-webkit-scrollbar-track {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Tùy chỉnh chiều cao của thanh cuộn */
.violation-list::-webkit-scrollbar-thumb {
  background-color: #3d97ba;
  border-radius: 10px;
  height: 10px;
}

.violation-item {
  background-color: #3c5793;
  border-radius: 10px;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #3c5793;
}
.violation-item:hover {
  background-color: #3463a0;
  border: 2px solid #5acdf3;
}
.violation-item.active {
  background-color: #3463a0;
  border: 2px solid #5acdf3;
}

.bg-img-list {
  background-image: url('../assets/images/Mask group.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: #0e2e6e;
  object-fit: fill;
  border: 2px solid #FFFFFF;
}

.violation-item-end {
  width: 70%;
  margin-left: 10px;
}
.violation-item-end > div {
  margin-bottom: 5px;
  width: 100%;
}
.violation-item-end > div h5 {
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 20px;
  padding: 2px 10px 2px 10px;
  border: 1px solid #ffffff;
  border-radius: 6px;
}
.violation-item-end p {
  /* font-size: 16px; */
  margin-bottom: 0px;
  line-height: 19px;
  font-size: clamp(12px, 2vw, 16px);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.description-list-violation {
  position: absolute;
  right: 0;
  bottom: 41px;
  width: 30%;
  display: flex;
  justify-content: center;
}
.custom-chose {
  position: relative;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-chose img {
  max-width: 100%;
  height: 45px;
}
.chose-text {
  position: absolute;
  line-height: 20px;
  padding-bottom: 5px;
}
.chose-text img {
  max-width: 100%;
  width: 40px;
  height: 10px;
}
.chose-text span {
  font-size: 17px;
  font-weight: 700;
}

.crossbar {
  width: 30%;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.crossbar-one {
  width: 80%;
  height: 10px;
  display: flex;
  align-items: center;
}
.crossbar-one img {
  max-width: 100%;
}
.crossbar-two {
  width: 60%;
  height: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.crossbar-two img {
  max-width: 100%;
}

.main-bottom {
  margin-top: 20px;
}
.infor-law-text {
  background: linear-gradient(to right, #f2c94c, #f2994a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-left: 12px;
  line-height: 25px;
}
.phone-number {
  background: linear-gradient(to right, #f2c94c, #f2994a);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.email-address {
  color: #56ccf2;
}
.infor-vehicle {
  position: relative;
}
.infor-vehicle img {
  max-width: 100%;
  position: relative;
}

.img-vehicleviolation {
  display: inline-block;
  position: relative;
}

.img-vehicleviolation .triangle {
  position: absolute;
  right: 0;
  top: 1px;
}
.img-vehicleviolation .triangle img {
  max-width: 100%;
  height: 21px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infor-vehicle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 20px;
}

.animate-round-dot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px 0px;
}

.animate-round-dot img {
  height: 15px;
}
.animate-round-dot1 img {
  height: 15px;
}
.infor-vehicle-text-number {
  font-size: 26px;
  font-weight: bold;
}
.infor-vehicle-text-text {
  font-size: 16px;
}
.icon-phone {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: linear-gradient(#f2994a, #f2c94c);
  margin-right: 10px;
}
.icon-phone i {
  font-size: 14px;
  color: #ffffff;
}
.contact-text p {
  font-size: 17px;
  line-height: 18px;
}
.image-qr {
  display: inline-block;
}
.image-qr img {
  max-width: 100%;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffff;
}
.img-vecter-arrow img {
  width: 70px;
  margin-right: 10px;
}
.dots-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  margin: auto;
}

.dot {
  width: 18px;
  height: 18px;
  background-color: rgba(86, 204, 242, 0.2);
  border-radius: 40%;
  animation: pulse 1.5s infinite alternate;
}

.carousel-inner {
  padding-bottom: 50px;
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  margin: 0 7px;
}
.carousel-indicators .active {
  opacity: 1;
  background-color: white;
}
.play-icon {
  font-size: 48px;
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 3s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* laptop/desktop */
@media (min-width: 992px) and (max-width: 1235px) {
  .Logo-csgt h3 {
    font-size: 19px;
  }
  .main-top .main-top-header {
    width: 71%;
    top: 3px;
    right: 0;
    padding: 6px 20px 6px 0px;
  }

  .main-top-header .img-icon-camera {
    width: 32px;
    height: 32px;
  }
  .main-top-header .title {
    font-size: 18px;
  }
  .time .time-text {
    font-size: 14px;
  }
  .violation-list .violation-item {
    display: flex;
    align-items: center;
  }
  .violation-item .violation-item-end > div h5 {
    font-size: 16px;
    line-height: 18px;
  }
  .violation-item .violation-item-end > div p {
    font-size: 14px;
    line-height: 17px;
  }
  .violation-item .violation-item-end p {
    font-size: 15px;
    line-height: 18px;
  }
  .infor-law-text {
    background: linear-gradient(to right, #f2c94c, #f2994a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    padding-left: 12px;
    line-height: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1175px) {
  .Logo-csgt h3 {
    font-size: 18px;
  }
  .violation-block {
    height: 99%;
  }
  .violation-list .violation-item {
    display: flex;
    align-items: center;
  }
  .bg-img-list {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    width: 65px;
    height: 65px;
    border-radius: 10px;
    background-color: #0e2e6e;
  }
  .violation-item-end {
    width: 70%;
    margin-left: 10px;
  }
  .violation-item .violation-item-end > div h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .violation-item .violation-item-end > div p {
    font-size: 13px;
    line-height: 15px;
  }
  .violation-item .violation-item-end p {
    font-size: 13px;
    line-height: 14px;
  }
  .description-list-violation {
    position: absolute;
    right: 0;
    bottom: 41px;
    width: 30%;
    display: flex;
    justify-content: center;
  }
  .custom-chose {
  }
  .custom-chose img {
    max-width: 100%;
    height: 35px;
  }
  .chose-text {
    position: absolute;
    line-height: 16px;
    padding-bottom: 5px;
  }
  .chose-text img {
    max-width: 100%;
    width: 35px;
    height: 10px;
  }
  .chose-text span {
    font-size: 15px;
    font-weight: 700;
  }

  .img-vehicleviolation {
    display: inline-block;
    position: relative;
  }
  .img-vehicleviolation .triangle {
    position: absolute;
    right: 0;
    top: 1px;
  }
  .img-vehicleviolation .triangle img {
    max-width: 100%;
    height: 18px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-top-header .title {
    font-size: 17px;
  }
  .infor-law-text {
    background: linear-gradient(to right, #f2c94c, #f2994a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-left: 12px;
    line-height: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1052px) {
  .Logo-csgt h3 {
    font-size: 16px;
  }
  .violation-block {
    height: 96%;
  }

  .violation-list .violation-item {
    display: flex;
    align-items: center;
  }
  .bg-img-list {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 100%;
    width: 56px;
    height: 56px;
    border-radius: 10px;
    background-color: #0e2e6e;
  }
  .violation-item-end {
    width: 70%;
    margin-left: 10px;
  }
  .violation-item .violation-item-end > div h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .violation-item .violation-item-end > div p {
    font-size: 13px;
    line-height: 15px;
  }
  .violation-item .violation-item-end p {
    font-size: 12px;
    line-height: 14px;
  }
  .chose-text img {
    max-width: 100%;
    height: 5px;
  }
  .chose-text span {
    font-size: 12px;
  }

  .img-vehicleviolation {
    display: inline-block;
    position: relative;
  }
  .img-vehicleviolation .triangle {
    position: absolute;
    right: 0;
    top: 1px;
  }
  .img-vehicleviolation .triangle img {
    max-width: 100%;
    height: 16px;
    width: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .infor-law-text {
    background: linear-gradient(to right, #f2c94c, #f2994a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-left: 12px;
    line-height: 25px;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .Logo-csgt h3 {
    font-size: 16px;
    line-height: 16px;
    padding-top: 10px;
  }
  .img-logo img {
    width: 80px;
    height: 92px;
    object-fit: fill;
  }
  .main-top-header {
    padding: 9px 15px 5px 0px;
  }

  .main-top-header .img-icon-camera {
    width: 30px;
    height: 30px;
  }
  .main-top-header .title {
    font-size: 16px;
  }
  .main-top-header .time .time-text {
    font-size: 13px;
    line-height: 14px;
    font-weight: 700;
  }
  .main-top-header .time .time-icon i {
    font-size: 16px;
  }
  .chose-text img {
    max-width: 100%;
    height: 8px;
  }
  .chose-text span {
    font-size: 14px;
  }
  .img-vehicleviolation {
    display: inline-block;
    position: relative;
  }
  .img-vehicleviolation .triangle {
    position: absolute;
    right: 0;
    top: 1px;
  }
  .img-vehicleviolation .triangle img {
    max-width: 100%;
    height: 13px;
    width: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .Logo-csgt h3 {
    font-size: 12px;
    line-height: 12px;
    padding-top: 20px;
  }
  .main-top-header {
    padding: 9px 15px 5px 0px;
    display: flex;
    align-items: center;
  }
  .main-top-header .img-icon-camera {
    width: 20px;
    height: 20px;
  }
  .main-top-header .title {
    font-size: 14px;
  }
  .main-top-header .time .time-text {
    font-size: 11px;
    line-height: 12px;
    font-weight: 700;
  }
  .main-top-header .time .time-icon i {
    font-size: 14px;
  }
  .infor-vehicle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .infor-vehicle img {
    max-width: 100%;
  }
  .infor-vehicle-text-number {
    font-size: 35px;
  }
  .infor-vehicle-text-text {
    font-size: 26px;
  }
  .contact-text p {
    font-size: 20px;
  }
  .img-vehicleviolation {
    display: inline-block;
    position: relative;
  }
  .img-vehicleviolation .triangle {
    position: absolute;
    right: 0;
    top: 1px;
  }
  .img-vehicleviolation .triangle img {
    max-width: 100%;
    height: 30px;
    width: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
